.home .text {
    padding: 0%;
    margin: 0%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 20%;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 5%;
    top: 26%;
}

label {
    font-size: 15px;
    left: 5%;
    position: absolute;
    top: 17%;
}

.navbar-brand span {
    color: rgb(71, 216, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boy {
    width: 400px;
    position: absolute;
    left: 40%;
    top: 10%;
    clip-path: circle();
}

.home {
    background: rgb(202, 239, 241);
    height: 60vh;
}


/* new section */

.texta h4 {
    font-size: 25px;
    position: absolute;
    margin: auto;
    left: 15%;
    top: 70%;
}

.texta1 h4 {
    font-size: 15px;
    position: absolute;
    margin: auto;
    left: 15%;
    top: 76%;
}

.comp h4 {
    font-size: 25px;
    position: absolute;
    margin: auto;
    left: 35%;
    top: 70%;
}

.comp1 h4 {
    font-size: 15px;
    position: absolute;
    margin: auto;
    left: 35%;
    top: 76%;
}

.tex h4 {
    font-size: 18px;
    position: absolute;
    margin: auto;
    left: 45%;
    top: 72%;
    padding: 10px;
    background: rgb(202, 239, 241);
    border-radius: 10px;
    color: rgb(168, 158, 158);
    border: none;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.tex1 h4 {
    font-size: 18px;
    position: absolute;
    margin: auto;
    left: 68%;
    top: 72%;
    padding: 10px;
    background: rgb(202, 239, 241);
    border-radius: 10px;
    color: rgb(168, 158, 158);
    border: none;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.so a {
    font-size: 35px;
    position: absolute;
    margin: auto;
    left: 10%;
    color: aliceblue;
    background: blue;
    padding: 10px;
    border-radius: 10px;
    top: 70%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.so1 a {
    font-size: 35px;
    position: absolute;
    margin: auto;
    left: 30%;
    color: aliceblue;
    background: rgb(212, 226, 10);
    padding: 10px;
    border-radius: 10px;
    top: 70%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.so2 a {
    font-size: 30px;
    position: absolute;
    margin: auto;
    left: 83%;
    color: aliceblue;
    background: rgb(14, 137, 185);
    padding: 10px;
    border-radius: 10px;
    top: 72%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}


/* 
new section start */

.continer h4 {
    text-align: center;
    position: absolute;
    top: 80%;
    font-size: 50px;
    left: 40%;
    padding: 40px;
}

.continer h4 span {
    color: rgb(59, 189, 189);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* .services .card0 {
    display: flex;
    margin: 3%;
}

.services .card1 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    height: 100px;
    width: auto;
}

.services .card2 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.services .card3 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
}

.services .card4 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
} */

.about .card0 {
    display: flex;
    margin: 6%;
    padding: 15px;
}

.about .card1 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    color: rgb(250, 249, 249);
    border-radius: 20px;
}

.about .card2 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about .card3 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    outline: none;
    border: none;
    text-decoration: none;
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about .card4 {
    margin: 3%;
    box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    color: rgb(250, 249, 249);
}

.about h4 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
}

.about h4 span {
    color: rgb(19, 221, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about1 .card0 {
    display: flex;
    margin: 6%;
    padding: 15px;
    height: 38vh;
    border-radius: 15px;
}

.about1 .card1 {
    margin: 3%;
    box-shadow: 0 5px 36px -2px rgb(175, 167, 167);
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about1 .card2 {
    margin: 3%;
    box-shadow: 0 5px 36px -2px rgb(155, 150, 150);
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about1 .card3 {
    margin: 3%;
    box-shadow: 0 5px 36px -2px rgb(124, 120, 120);
    outline: none;
    border: none;
    text-decoration: none;
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about1 .card4 {
    margin: 3%;
    box-shadow: 0 5px 36px -2px rgb(134, 129, 129);
    color: rgb(250, 249, 249);
    border-radius: 10px;
}

.about1 h4 {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

.about1 h4 span {
    color: rgb(19, 221, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.but .card-body a {
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 45%;
    box-shadow: 0 5px 36px -2px rgb(153, 151, 151);
}

.but .card-body a i {
    margin: auto;
    padding: 10px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .right {
    width: 45%;
}

.about .about-content .right img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    padding: 10px;
    margin: 10%;
}

.about .about-content .left {
    width: 55%;
}

.about .about-content .left .text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    margin: 20px;
}

.about .about-content .left .text1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    margin: 20px;
}

.about .about-content .left .text span {
    color: rgb(18, 182, 194);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about .about-content .left p {
    text-align: center;
    text-align: justify;
    margin: 20px;
}

.about .max-width .text p {
    background: chartreuse;
}

.about .about-content .left a {
    display: inline-block;
    background: rgb(7, 83, 182);
    color: rgb(240, 231, 231);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.about .about-content .left a:hover {
    color: rgb(31, 160, 192);
    background: none;
}

.about4 .max-width {
    padding: 5%;
    margin: 5%;
}

.about4 .max-width h3 {
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 490%;
    left: 30%;
}

.about4 .max-width h3 span {
    color: rgb(31, 160, 192);
}

.col img {
    position: absolute;
    left: 10%;
    top: 480%;
}

.about4 .col img {
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    padding: 10px;
    margin: 10%;
}

.about .color6 {
    padding: 0%;
    margin: 10%;
}

.text6 h6 {
    position: absolute;
    left: 10%;
    top: 540%;
    padding: 10%;
    margin: 10%;
    font-size: 50px;
}

.text6 h6 span {
    color: rgb(31, 160, 192);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text6 h5 {
    position: absolute;
    left: 10%;
    top: 550%;
    padding: 10%;
    margin: 10%;
    font-size: 40px;
}

.input-group .form-outline {
    padding: 0%;
}

.input-group input {
    left: 10%;
}

.home0 {
    padding: 40px;
    margin: 32%;
    position: absolute;
    top: 550;
}

.home0 input {
    width: 180%;
    padding: 20px;
    border-radius: 10px;
}

.home0 label {
    margin: auto;
    position: absolute;
    top: 30%;
}

.vv button {
    padding: 22px;
    border-radius: 10px;
    margin: 80px;
    position: absolute;
    top: -63%;
    left: 141%;
}

.footer {
    padding: 20%;
    position: absolute;
    top: 580%;
    left: -10%;
    display: flex;
}

footer .foo {
    padding: 15px 23px;
    color: rgb(253, 251, 251);
    text-align: center;
    display: flex;
}

footer .foo span a {
    color: crimson;
    text-decoration: none;
}

footer .foo span a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

ul a i {
    list-style: none;
    color: #020202;
}

.footer-col {
    width: 25%;
    position: absolute;
    padding: 10px 15px;
    left: 50%;
    top: 70%;
}

.footer-col h4 {
    font-size: 18px;
    color: rgb(31, 160, 192);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-right: 2%;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #e92626;
    text-decoration: none;
    font-weight: 300;
    color: #020202;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #0f0f0f;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #2e1aeb;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col2 {
    width: 25%;
    position: absolute;
    padding: 0 15px;
    left: 100%;
    top: 70%;
}

.footer-col3 {
    width: 25%;
    position: absolute;
    padding: 0 15px;
    left: 170%;
    top: 70%;
}

.footer-col4 {
    width: 25%;
    position: absolute;
    padding: 0 15px;
    left: 220%;
    top: 70%;
}

.footer-col2 h4 {
    font-size: 18px;
    color: rgb(31, 160, 192);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-right: 2%;
}

.footer-col2 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col2 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col2 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #da1919;
    text-decoration: none;
    font-weight: 300;
    color: #020202;
    display: block;
    transition: all 0.3s ease;
}

.footer-col2 ul li a:hover {
    color: #0f0f0f;
    padding-left: 8px;
}

.footer-col3 h4 {
    font-size: 18px;
    color: rgb(29, 138, 165);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-right: 2%;
}

.footer-col3 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col3 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col3 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #020202;
    display: block;
    transition: all 0.3s ease;
}

.footer-col3 ul li a:hover {
    color: #0f0f0f;
    padding-left: 8px;
}

.footer-col4 h4 {
    font-size: 18px;
    color: rgb(31, 160, 192);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-right: 2%;
}

.footer-col4 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col4 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col4 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #020202;
    display: block;
    transition: all 0.3s ease;
}

.footer-col4 ul li a:hover {
    color: #0f0f0f;
    padding-left: 8px;
}

@media(max-width: 762px) {
    .about .about-content .right img {
        height: 350px;
        width: 350px;
    }
    .nav-item {
        z-index: 999;
        padding: -15px;
        margin: -10px;
    }
    .d-flex {
        margin: -5px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .boy {
        width: 200px;
        position: absolute;
        left: 56%;
        top: 16%;
        clip-path: circle();
    }
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        position: absolute;
        left: 5%;
        top: 20%;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        left: 5%;
        top: 26%;
        font-size: 15px;
    }
    label {
        left: 5%;
        position: absolute;
        top: 17%;
        font-size: 10px;
    }
    .home {
        background: rgb(202, 239, 241);
        height: 30vh;
    }
    .texta h4 {
        font-size: 14px;
        position: absolute;
        margin: auto;
        left: 11%;
        top: 32%;
    }
    .texta1 h4 {
        font-size: 8px;
        position: absolute;
        margin: auto;
        left: 11%;
        top: 34%;
    }
    .comp h4 {
        font-size: 14px;
        position: absolute;
        margin: auto;
        left: 36%;
        top: 32%;
    }
    .comp1 h4 {
        font-size: 8px;
        position: absolute;
        margin: auto;
        left: 36%;
        top: 34%;
    }
    .tex h4 {
        font-size: 6px;
        position: absolute;
        margin: auto;
        left: 46%;
        top: 32%;
        padding: 7px;
        background: rgb(202, 239, 241);
        border-radius: 10px;
        color: rgb(168, 158, 158);
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    }
    .tex1 h4 {
        font-size: 8px;
        position: absolute;
        margin: auto;
        left: 75%;
        top: 32%;
        padding: 5px;
        background: rgb(202, 239, 241);
        border-radius: 7px;
        color: rgb(168, 158, 158);
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
    }
    .so a {
        font-size: 10px;
        position: absolute;
        margin: auto;
        left: 3%;
        color: aliceblue;
        background: blue;
        padding: 5px;
        border-radius: 10px;
        top: 32%;
    }
    .so1 a {
        font-size: 10px;
        position: absolute;
        margin: auto;
        left: 28%;
        color: aliceblue;
        background: rgb(212, 226, 10);
        padding: 5px;
        border-radius: 10px;
        top: 32%;
    }
    .so2 a {
        font-size: 10px;
        position: absolute;
        margin: auto;
        left: 92%;
        color: aliceblue;
        background: rgb(14, 137, 185);
        padding: 7px;
        border-radius: 10px;
        top: 32%;
    }
    .continer h4 {
        text-align: center;
        position: absolute;
        top: 36%;
        font-size: 30px;
        left: 20%;
        padding: 40px;
    }
    .continer h4 span {
        color: rgb(59, 189, 189);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card0 {
        display: block;
        margin: 3%;
    }
    .about .card1 {
        margin: 12%;
        margin-top: 2%;
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
        width: 34vh;
        color: rgb(250, 249, 249);
    }
    .about .card1 .btn {
        background: rgb(14, 137, 185);
        color: #fff;
        box-shadow: 0 10px 10px -6px rgb(117, 113, 113);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card2 .btn {
        background: rgb(14, 137, 185);
        color: #fff;
        box-shadow: 0 10px 10px -6px rgb(117, 113, 113);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card3 .btn {
        background: rgb(14, 137, 185);
        color: #fff;
        box-shadow: 0 10px 10px -6px rgb(117, 113, 113);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card4 .btn {
        background: rgb(228, 5, 5);
        color: #fff;
        box-shadow: 0 10px 10px -6px rgb(117, 113, 113);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card5 .btn {
        background: rgb(228, 5, 5);
        color: #fff;
        box-shadow: 0 10px 10px -6px rgb(117, 113, 113);
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .card2 {
        margin: 10%;
        margin-top: 2%;
        width: 34vh;
    }
    .about .card3 {
        margin: 10%;
        margin-top: 2%;
        width: 34vh;
    }
    .about .card4 {
        margin: 10%;
        margin-top: 2%;
        width: 34vh;
    }
    .about h4 {
        padding-top: 60px;
    }
    .about1 .card0 {
        display: block;
        height: 30vh;
    }
    .about1 .card1 {
        margin: 10%;
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
        width: 30vh;
        color: rgb(250, 249, 249);
        height: 30vh;
    }
    .about1 .card2 {
        margin: 10%;
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
        width: 30vh;
        color: rgb(250, 249, 249);
        height: 30vh;
        ;
    }
    .about1 .card3 {
        margin: 10%;
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
        width: 30vh;
        color: rgb(250, 249, 249);
        height: 30vh;
    }
    .about1 .card4 {
        margin: 10%;
        box-shadow: 0 18px 16px -6px rgb(12, 11, 11);
        width: 30vh;
        color: rgb(250, 249, 249);
        height: 30vh;
    }
    .about1 h4 {
        padding-top: 60px;
        font-size: 30px;
    }
    .but .card-body a {
        text-align: center;
        justify-content: center;
        position: absolute;
        left: 25%;
        box-shadow: 0 5px 36px -2px rgb(153, 151, 151);
    }
    .but .card-body a i {
        margin: auto;
        padding: 10px;
    }
    .about .about-content .right {
        width: 25%;
        position: absolute;
        top: 575%;
        left: 6%;
    }
    .about .about-content .right img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
        padding: 20px;
    }
    .about .about-content .left {
        width: 45%;
    }
    .about .about-content .left .text {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
        margin: 20px;
        top: 510%;
        left: 10%;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        word-spacing: 4px;
    }
    .about .about-content .left .text1 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        margin: 20px;
        top: 515%;
        left: 15%;
        position: absolute;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .about-content .left .text span {
        color: rgb(18, 182, 194);
        font-size: 27px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about .about-content .left p {
        text-align: center;
        text-align: justify;
        position: absolute;
        top: 515%;
        left: 2%;
        padding: 40px;
    }
    .about .max-width .text p {
        background: chartreuse;
    }
    .about .about-content .left a {
        display: inline-block;
        background: rgb(7, 83, 182);
        color: rgb(240, 231, 231);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 10px;
        margin-top: 20px;
        border-radius: 6px;
        transition: all 0.3s ease;
        position: absolute;
        top: 565%;
        left: 30%;
    }
    .about .about-content .left a:hover {
        color: rgb(31, 160, 192);
        background: none;
    }
    .about4 .max-width {
        padding: 5%;
        margin: 5%;
    }
    .about4 .max-width h3 {
        font-size: 30px;
        text-align: center;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        left: 20%;
        top: 645%;
        word-spacing: 2px;
    }
    .about4 .max-width h3 span {
        color: rgb(31, 160, 192);
    }
    .col img {
        position: absolute;
        left: 0%;
        top: 650%;
    }
    .about4 .col img {
        height: 150px;
        object-fit: cover;
        border-radius: 6px;
    }
    .about .color6 {
        padding: 0%;
        margin: 10%;
    }
    .text6 h6 {
        position: absolute;
        left: 2%;
        top: 680%;
        padding: 10px;
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .text6 h6 span {
        color: rgb(31, 160, 192);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .text6 h5 {
        position: absolute;
        left: 2%;
        top: 685%;
        padding: 10px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .input-group .form-outline {
        padding: 0%;
    }
    .input-group input {
        left: 10%;
    }
    .home0 {
        padding: 40px;
        margin: 32%;
        position: absolute;
        left: -25%;
        top: 680%;
    }
    .home0 input {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }
    .home0 label {
        margin: auto;
        position: absolute;
        top: 30%;
    }
    .vv button {
        padding: 22px;
        border-radius: 10px;
        margin: 80px;
        position: absolute;
        top: -63%;
        left: 60%;
    }
    .footer-col {
        width: 25%;
        position: absolute;
        padding: 10px 15px;
        left: 20%;
        top: 639%;
    }
    .footer-col2 {
        width: 25%;
        position: absolute;
        padding: 0 15px;
        left: 120%;
        top: 645%;
    }
    .footer-col3 {
        width: 25%;
        position: absolute;
        padding: 0 15px;
        left: 20%;
        top: 845%;
    }
    .footer-col4 {
        width: 25%;
        position: absolute;
        padding: 0 15px;
        left: 120%;
        top: 845%;
    }
}